<p-table [columns]="cols" [value]="cargos" selectionMode="single" [(selection)]="cargoSelecionado" dataKey="id"
(onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
  <ng-template pTemplate="caption">
        <p-button  icon="pi pi-plus" ></p-button>
        <p-button  icon="pi pi-search" [disabled]="botoesDesabilitados"></p-button>
        <p-button  icon="pi pi-trash" [disabled]="botoesDesabilitados"></p-button>
  </ng-template>  
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
                  {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>  
</p-table>
