<div class="ui-g">
  <div class="ui-g-12 ui-md-2">
    <span style="font-size: 32px">SisCom</span>  
    <p-accordion>
        <p-accordionTab header="Cadastros">
           Content 1
        </p-accordionTab>
        <p-accordionTab header="Financeiro">
            Content 2
        </p-accordionTab>
        <p-accordionTab header="Comercial">
            Content 3    
        </p-accordionTab>
    </p-accordion>
  </div>
  <div class="ui-g-12 ui-md-10 ui-g-nopad">
    <div class="ui-g-12">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          Título da Janela
        </div>
      </p-toolbar>
    </div>  
    <div class="ui-g-12 ui-g-nopad">
      <app-cargo></app-cargo>
    </div>  
  </div>
  <div class="ui-g-12">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
          
      </div>
      
      <div class="ui-toolbar-group-right">
        Anderson (Sair)    
      </div>
    </p-toolbar>
  </div>
</div>